



/*************************************/
/*HEADER*/
/*************************************/

.header{
 display:flex;
 justify-content: space-between;
 align-items:center;
 background-color: #fdf2e9;

 /*Give navigation a fix height, b/c we want it to be sticky if not padding would be the best*/
 height: 9.6rem;
 padding: 0 4.8rem;

 /*for mobile navigation since it set to absolute*/
position: relative;
}


.logo{
height: 2.2rem;
}

/*************************************/
/*NAVIGATION*/
/*************************************/

.main-nav-list{
    list-style: none;
    display:flex;
    gap:4.8rem;
    align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color:#333;
    font-size:1.8rem;
    font-weight: 500;
    transition: all 0.3s /*Always put this on the currrent state*/;
}

.main-nav-link:hover,
.main-nav-link:active {
    color:#cf711f;
    
}
/*We want everything to apply when we have both the main nave-link and the cta-link section 5*/
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
padding: 1.2rem 2.4rem;
border-radius:9px;
color:#fff;
background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active{
    background-color:#cf711f;
}


/* MOBILE */
.btn-mobile-nav{
 border: none;
 background: none;
 cursor: pointer;
 /* hide button by default */
 display: none;
}


.icon-mobile-nav{
height: 4.8rem;
width: 4.8rem;
color:#333;
}

/* select the icons based on attributes */

.icon-mobile-nav[name="close-outline"] {
    display: none;
   
}



/* STICKY NAVIGATION */
/* apply these styles to the header, provided sticky class is a parent of it*/
.sticky .header{
position: fixed;
top:0;
bottom: 0;
width: 100%;
height: 8rem;
padding-bottom: 0;
background-color: rgba(255, 255, 255, 0.97);
z-index: 999;
box-shadow: 0 1.2rem 3.2rem rgba(0,0,0,0.03);
}

.sticky .section-hero {
    margin-top: 9.6rem;
}
/*************************************/
/*HERO SECTION*/
/*************************************/
.section-hero{
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
}





    
/*Check up (tints and shades generator on google), past your  color hex to generate, look for its tints (light)
Shades (Dark)*/
.hero{
    /*use grid for consistency
    give hero container a fix width*/
    /*Use max-with b/c when adjusting the screen the image cant adjust
   with max-width of Element larger than the conaintainer it will occupy 100% of the container
    can adjust and stop when larger than specified width */
    max-width: 130rem /*130* 10px = 1300px 1300/10 = 130rem 62px/ 10 = 6.2rem*/;
    display: grid;
    /*center image or Element  in the viewport*/
    margin: 0 auto;
    padding:0 3.2rem;/*This will help reducing the screen size not to squize*/
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap:9.6rem;

}




.hero-description{
    font-size:2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;/*Push a tags down*/
}


.hero-img{
    /*give a width of 100% so it will fill its container*/
    width: 100%;
}



/*************************************/




.delivered-meals{
display:flex;
margin-top: 8rem;
align-items: center;
gap:1.6rem;
}

/*All the images will align to left on a straingt line*/
.delivered-images{
display:flex;
}

/*Images itself*/

.delivered-images img{
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    /*How to overlap images ontop of each other*/
    margin-right: -1.6rem;
    border:3px solid #fdf2e9;
}   

/*Remove margin from last picture so that 
delivered text will have space*/
.delivered-images img:last-child {
 margin: 0;
}

.delivered-text{
  font-size: 1.8rem;
  font-weight: 600; 
  
}

.delivered-text span{
 color: #cf711f;
 font-weight: 700;
}

/*************************************/
/*FEATURED IN SECTION*/

/*************************************/

.section-featured {
   padding: 4.8rem 0 3.2rem 0; 
}

.heading-featured-in{
    font-size:1.4rem;
    text-transform: uppercase;
    letter-spacing:0.75px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.4rem;
    color:#888;
}


.logos {
    display:flex;
    justify-content: space-around;

}

/*Make pix smaller*/
.logos img{
    height: 3.2rem;
    /*Use filter to change brightnes and others of pics*/
    filter:brightness(0);
    opacity: 50%;
}
/*************************************/
/*HOW IT WORKS SECTION*/
/*How the website work*/
/*************************************/



.section-how {
padding:9.6rem 0;
}

.step-number{
 font-size:8.6rem;
 font-weight:600;
 /*To make number lighter you can use #fff or #ddd*/
 color:#ddd;
 margin-bottom: 1.2rem;
}

.step-description {
font-size: 1.8rem;
line-height: 1.8;
}

.step-img-box{
display:flex;
position: relative;
justify-content: center;
align-items: center;
}

/*Lets add circle behind the image, we ADD 
a sudo element to Image, since we cant just add file
to HTML
we use before sudo which canbe used onces*/

.step-img-box::before,
.step-img-box::after {
    content:"";
    display:block;
   
   
    border-radius: 50%;

    /*To position it on top so we can push behind the phone image*/
    position: absolute;
    /*top:50%;*/
    /*left:50%;*/
    /*To alight perfectly*/
    /*transform:translete(-50%,-50%)*/

   

}

.step-img-box::before{
    width: 60%;
     /*height: 60%;*/
     padding-bottom: 60%;
     /*padding will give a height and make it
     visible*/
     background-color: #fdf2e9;
      /*Use z index to push the circle image behind*/
      z-index: -2;
}

/*get another tint color*/

.step-img-box::after {
width: 45%;
padding-bottom: 45%;
background-color: #fae5d3;
/*To make the smaller circle one ontop of the bigger
circle, give bigger one -2 and smaller -1*/

z-index:-1
}

.step-img{
    width: 30%;
}

/*************************************/
/*MEALS SECTION, CARDS*/
/*Instead of SVGS use Ionicons, copy the javascript
codes and use the name of the icons*/
/*************************************/

/*When copying cards  make sure the images are the same with same dimension */
.section-meals{
  padding: 9.6rem;  
}

.meal{
  box-shadow: 0 2.4rem 0.8rem rgba(0,0,0, 0.075);  /*Vertical, horizontal, blur, then rgba for tr
  transperancy*/
  border-radius: 11px;
  /*Image covers the rounded conners use
  overflow:hidden*/
overflow: hidden;
transition: all 0.4s
/*The cards will jump smoothly*/
/*padding: 2.4rem;

padding wont be fine, when designing a card and image at the
Top give the image a separate DIV and rest another Div */
}

/*To make the meal pics jump, when we hover*/
.meal:hover{
/*Make it jump upwards*/
transform: translateY(-1.2rem);
/*since its big reduce the opacity */
box-shadow: 0 2.4rem 6.4rem rgba(0,0,0, 0.075);
}
.meal-content{
padding: 3.2rem 4.8rem 4.8rem 4.8rem ;
}
.meal-tags{
margin-bottom:1.2rem;
display:flex;
gap: 0.4rem;
}
.tag{
/*Since its a Span add display inline block, it can be padded
 */
display:inline-block;
font-size: 1.2rem;
padding:0.4rem 0.8rem;
text-transform: uppercase;
/*since its vegetarian, use green use open color*/
background-color: #51cf66;
color: #333;
border-radius:100px;
font-weight: 600;
}

/*To give vegan and paloe diff colours*/
.tag--vegetarian{
    background-color: #51cf66;
}

.tag--vegan{
background-color: #94d82d; 
}

.tag--paleo {
background-color: #ffd43b; 
}

.meal-title{
    font-size: 2.4rem;
    color:#333;
    font-weight:600;
    margin-bottom:3.2rem
}

.meal-attributes{
list-style: none;
display:flex;
flex-direction: column;
gap:2rem;
}
.meal-attribute{
font-size: 1.8rem;
/*This is now the conatiner of the ion icons, make flex so we can
work with the icons*/
display:flex;
align-items: center; /*This will align them vertically */
gap: 1.6rem;
}

.meal-icon{
height: 2.4rem;
width: 2.4rem;
color:#e67e22;
}

.meal-img{
width: 100%;
}

.all-recipes {
text-align: center;
font-size: 1.8rem;
}


.list-item{
    font-size:1.8rem;
    display:flex;
    align-items: center;
    gap:1.6rem;

}
.list-icon {
 width:3rem;
 height: 3rem; 
 color:#e67e22;
}


/*************************************/
/*TESTIMONIALS SECTION*/
/*************************************/

.section-testimonials{
    background-color: #fdf2e9;
    display:grid;
    /*We need little space between the column */
    grid-template-columns: 55fr 45fr;
    align-items: center;
    
}


.testimonials-container {
    padding: 9.6rem;
  }


.testimonials{
 display:grid;
 grid-template-columns: 1fr 1fr;
 row-gap:4.8rem;
 column-gap: 8rem;
}

.testimonial-img{
    width:6.4rem;
    border-radius: 50%;
    margin-bottom:1.2rem;
}


.testimonial-text {
 font-size: 1.8rem; 
 line-height:1.8;
 margin-bottom: 1.6rem;  
}

.testimonial-name{
    font-size: 1.6rem;
    color:#6f6f6f
    /* The only gray color that can work contrast chacker */

}

.gallery-item{
    overflow: hidden;
}
.gallery{
display:grid;
grid-template-columns: repeat(3, 1fr);
gap:1.6rem
}

/*To remove white Spaces from Images*/

.gallery-item img {
    /*img are inline-Element by default
    use block to close all the line*/

    display:block;
 /*The images will push away the whole content
 make it flexible*/
 width: 100%;

 /* make inimation smooth*/
}

.gallery-item img:hover{
 transform: scale(1.1);
 /*Images will jump up*/
}

/*How to target the inner divs*/



/*************************************/
/*MEALS SECTION*/
/*************************************/


.section-pricing{
    padding: 9.6rem;
}

.plan-header {
    text-align: center;
    margin-bottom: 4.8rem;
}
.plan-name{
color:#cf711f;
font-size: 2rem;
text-transform: uppercase;
letter-spacing:0.75;
margin-bottom: 3.2rem;
}



.plan-price{
font-size: 6.2rem;
font-weight: 600;
color:#333;
margin-bottom: 1.6rem;
}

.plan-price span {
font-size: 3rem;
font-weight: 500;
margin-right: 0.8rem;

}

.plan-text{
font-size: 1.6rem;
line-height: 1.6;
color:#6f6f6f
}

.plan-sign-up {
    text-align: center;
   margin-top: 4.8rem;
}

.section-pricing{
 padding: 9.6rem 0;
}

.pricing-plan{
 border-radius: 11px;
 width: 75%;
}


.pricing-plan--starter{
/*To center the two cards*/
 justify-self: end;
 border:2px solid #fdf2e9;
 padding:4.6rem;
}

.pricing-plan--complete{
    background-color:#fdf2e9 ;
    padding: 4.8rem;
    position:relative;
    /*Put overflow hidden on parent value*/
    overflow: hidden;
    
}

.pricing-plan--complete::after {
    content: "Best value";
    position: absolute;
    top:6%;
    right:-18%;
    text-transform: uppercase;
    font-size:1.4rem;
    font-weight: 700;
    color: #333;
    background-color: #ffd43b;
    padding: 0.8rem 8rem;
    /*For it to rotate */
    transform: rotate(45deg);
    /*TO CUT THE LONG EDGES, ADD OVERFLOW HIDDEN*/
}


.plan-details{
 text-align: center;
 font-size: 1.6rem;
 line-height: 1.6;
}

.feature-icon{
color:#e67e22;
height:2.4rem;
width: 2.4rem;
margin-bottom: 3.2rem;
background-color: #fae5d3;
padding:2.5rem;
border-radius: 50%;
}

.feature-title {
font-size: 2.4rem;
color:#333;
font-weight: 700;
margin-bottom: 1.6rem;
}

.feature-text {
font-size: 1.8rem;
line-height: 1.8;
}


/*************************************/
/*CALL TO ACTIION SECTION*/
/*************************************/

.section-cta {
/*top/right/bottom/left*/
padding:4.6rem 0 12.8rem 0 ;

/*top/right/bottom/left
padding;9.6rem 0 12.8rem obmit last value 0*/
}

/*To the container we want 2/3 and 1/3 on both sides*/

.cta{
display:grid;

/* 2/3 = 66.6% + 1/3 = 33.3% */
grid-template-columns: 2fr 1fr;
 /*background-color:#e67e22 ;*/
 box-shadow: 0 2.4rem 4.8rem rgba(0,0,0, 0.15);
 border-radius: 11px;

 /*Linear gradient is treated as if it was an image
 90 deg red, it will flow from left to right
 180deg red top-bottom(default) 360deg from bottom -top
 to right red, to left red, to right bottom*/

 background-image: linear-gradient(to right bottom, #eb984e,#e67e22 );

 overflow: hidden;

}


.cta-text-box{
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    padding: 6.4rem;
    color:#45260a;
 }
    
/*Since heading sec is in general css, give it a decendant to it
    take this color #45260a
    heading-sec inside cta take this color  #45260a*/


.cta .heading-secondary {
/*Inherit the Parent color*/
color:inherit;
/*color: #45260a;*/
margin-bottom: 3.2rem;
}

.cta-text{
font-size: 1.8rem;
line-height: 1.8;
margin-bottom: 4.8rem;
}
.cta-img-box {
/*background image:url("img/eating.jpg")
Note when using the above css dont have a file like HTML that we can get pictures from
use the below*/
/*
background-image:linear-gradient(to right bottom,
 rgba(235, 151, 78, 0.35),
rgba(230, 125, 34, 0.035) );
background-image: url("../img/eating.jpg");
To avoid first one overriding the second one
*/
background-image: linear-gradient(to right bottom, rgba(235, 151, 78, 0.35), rgba(230, 125, 34, 0.035)), 
url(../img/eating.jpg);
/*show the full page of the image*/
background-size: cover;
background-position: center;


}


.cta-form{
display:grid;
grid-template-columns: 1fr 1fr;
column-gap: 3.2rem;
row-gap: 2.4rem;

}

.cta-form label {
    display:block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select{
 width: 100%;
 padding: 1.2rem;
 font-size: 1.8rem;
 font-family: inherit;
 border:none;
 color:inherit; /*force to inherit from the body*/
 background-color: #fdf2e9;
 border-radius: 9px;
 box-shadow: 0 1px 2px rgba(0,0,0, 0.1);
}


.cta-form input::placeholder{
    color:#aaa;
}

.cta *:focus {
outline:none;
box-shadow: 0 0 0 0.8rem rgba(253,242,233,0.5);

}


/*************************************/
/*FOOTER*/
/*************************************/

.footer {
padding:12.8rem 0;
border-top: 1px solid #ddd;


}

.grid--footer{
grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
/*Push copywrite down*/
.logo-col{
    display: flex;
    flex-direction: column;
}
.footer-logo{
display:block;
margin-bottom: 3.2rem; 
}

.social-icon{
height: 2.4rem;
width: 2.4rem;
}

.copyright{
 font-size: 1.4rem;
 line-height: 1.6;
 color:#767676;
 margin-top: auto
 /*To push this down*/
}
.footer-heading {
font-size:1.8rem;
font-weight:500;
margin-bottom: 4rem;
}

.contacts{
/*Since contact is Italic*/
font-style:normal;
font-size: 1.6rem;
line-height: 1.6;
}

.address{
 margin-bottom: 2.4rem;   
}

.footer-nav{
    list-style: none;
    display:flex;
    flex-direction: column;
    gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited{
 text-decoration: none;
 font-size: 1.6rem;
 color:#767676;
 transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active{
 color:#555;
}

/*Use disended element*/

/*
9.00
.section-how div div {
    padding: 100px;
    font-size:50px;
    background-color:aqua;
}

.section-how div:nth-child(1){
    background-color: aqua;
}
.section-how div:nth-child(2){
    background-color: olivedrab;
}
.section-how div:nth-child(3){
    background-color:red;
}
.section-how div:nth-child(4){
    background-color:#e67e22;
}


7:24
*/