

/*
---- 01 TYPOGRAPHY SYTEM


--FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--Font weights:
Default: 400
--Line heights:
Default:1





---02 COLORS
--Primary: #e67e22
Tints:
Shades: 
Accents: 
--Greys:#555

---03 Images
--www.unsplash.com (generate high quality images)
--for customers use(www.uifaces.com)

---05 SHADOWS


----06 BORDER-RADIUS 

----07 WHITESPACE


SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128



NOTE  --Before starting your project make sure, 
you start with responsive design.
Check text.md
*/



*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    /*font-size: 10px;*/
    /* our fix value 10 / default browser value 16 = 0.625= 62.5%*/
    /*Percentage of user's browser font-size settings*/
    font-size: 62.5%
}
body{
    font-family: sans-serif;
    line-height: 1;
    font-weight: 400;
    color:#555
}

.text{
    /*max-width: 1000px;*/
    background-color: red;
    padding: 100px;
    max-width: 50rem; /*800px*/
    padding: 4rem; /*4*16= 64px*/
    font-size:2rem; /*2*16= 32
    so default changes to 32px because i decalered a font-size
    if font size on html is declared, default wont be 16 again rather 10*/
    /*By default 1rem = 16px *50 = 800*/

    color:#fff;
}